body {
  margin: 0px;
  padding: 0px;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0px;
  padding: 0px;
}

.imager {
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.center {
  text-align: center;
}

.color-fff {
  color: #fff;
}

#time {
  font-size: 1050%;
  font-weight: 400;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
  margin: 0px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.poscenter {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  height: auto;
  animation-name: pox;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.searchContainer {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  height: auto;
  animation-name: poz;
  animation-iteration-count: 1;
  animation-duration: 1s;
  transition: all 0.2s;
  padding: 5px 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.topSites {
  position: absolute;
  left: 0%;
  top: 65%;
  text-align: center;
  align-items: center;
  height: auto;
  width: 100vw;
  animation-name: poy;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
}

#whatname {
  color: #fff;
  font-weight: 400;
  font-size: 3rem;
}

#inputname {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 0;
  border: none;
  caret-color: white;
  font-weight: 500;
  line-height: normal;
  outline: none;
  text-align: center;
  background: none;
  border-bottom: 3px solid white;
  font-size: 54px;
  color: white;
}

#whatnamebtn {
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: none;
  color: white;
  margin-top: 30px;
  border-radius: 50px;
  font-size: 0.9375rem;
  font-weight: 500;
}

#whatnamebtn:hover {
  background: white;
  color: rgb(0, 0, 0);
}

#inputnamecont {
  height: 54px;
}

#whatnamebtncon,
#whatnamebtn {
  transition: all 0.3s ease;
}

#greet {
  font-size: 54px;
  font-weight: 500;
  margin: 0px;
  width: max-content;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

#quote {
  position: fixed;
  vertical-align: middle;
  display: inline;
  height: 60px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(25%);
  color: white;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.toggle-icon {
  width: 18px;
  opacity: 0.5;
}

.toggle-icon:hover {
  opacity: 0.8;
}

#setting {
  position: absolute;
  left: 20px;
  width: max-content;
  transform: translateY(25%);
}

#black {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #333;
  z-index: 100;
  transition: all 0.2s linear;
}

a {
  text-decoration: none;
  color: white;
}

.tile-icon > img {
  width: 24px;
}

.tiler {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 5px;
  transition: all 0.2s;
}

.title-ltr > span {
  color: white;
  transition: all 0.3s;
}

.tiler:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.tiler:hover > .title-ltr > span {
  color: black;
}

.tile {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 100px;
}

@keyframes pox {
  0% {
    top: 45%;
    opacity: 0;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}

@keyframes poy {
  0% {
    top: 60%;
    opacity: 0;
  }
  66.6% {
    top: 60%;
    opacity: 0;
  }
  100% {
    top: 65%;
    opacity: 1;
  }
}

@keyframes poyx {
  0% {
    top: 60%;
    opacity: 0;
  }
  50% {
    top: 60%;
    opacity: 0;
  }
  100% {
    top: 65%;
    opacity: 1;
  }
}

@keyframes poz {
  0% {
    top: 55%;
    opacity: 0;
  }
  50% {
    top: 55%;
    opacity: 0;
  }
  100% {
    top: 60%;
    opacity: 1;
  }
}

#search {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (min-width: 560px) {
  #search {
    width: 449px;
  }
}

@media (min-width: 672px) {
  #search {
    width: 561px;
  }
}

@media (max-height: 634px) {
  .searchContainer {
    transform: translateX(calc(100vw + 100%));
  }

  .topSites {
    animation-name: poyx;
    animation-duration: 1s;
  }
}

.searchContainer:hover,
.searchContainer:has(#search:focus) {
  transform: translate(-50%, calc(-50% - 4px));
  box-shadow: 5px 5px 12px #555;
}
